<div class="container">
  <h1>Welcome <%=@user.name%></h1>
    <ul><p>Users</p><br>    
      <%@users.each do |user| %>
      <li><%=user.name%><p><%=user.email%></p></li><br>
    <%end%>
    </ul>


</div>